
 




.titles {
   font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
background-color: #2f303a;
}
.texts {
    font-weight: 700;
font-size: 16px;
line-height: 1.87;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
background-color: #2196F3;
}
.nav-links:hover,
.nav-links:focus {
    color: #212121;
}

/* section-two */

.title-a {
    font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}
.text-a {
    font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
}

/* section-three */

.title-b {
    font-weight: 700;
font-size: 36px;
line-height: 1.16;
letter-spacing: 0.03em;
color: #212121;
}
/* применяется к h2, 3 и 4 секции */

/* section-four */

.title-c {
    font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: #212121;
}
.text-b {
    font-size: 16px;
line-height: 19px;
letter-spacing: 0.03em;
color: #757575;
}

/* futer */

footer {
   

.link-b {
    font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;
}
.link-c {
    font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

/* цвет основного массива текста #212121 */
/* вторичный текст #757575 */
/* синий цвет акцент  #2196F3 */
/* белый #FFFFFF */
/*  rgba(255, 255, 255, 0.6  */
/* background: #F5F4FA; */
/* background: #2f303a; h1, footer *