body {
  background-color: #fff;
  color: rgba(255, 255, 255, 0.6);

  font-family: Roboto, sans-serif;
}

.logo {
  font-family: Raleway; cursive;
}

.list {
  list-style: none;
}

/* цвет основного массива текста #212121 */
/* вторичный текст #757575 */
/* синий цвет акцент  #2196F3 */
/* белый #FFFFFF */
/*  rgba(255, 255, 255, 0.6  */
/* background: #F5F4FA; */

/* nav */
.site-nav {
  color: #212121;
}

.site-nav:hover,
.site-nav:focus {
  color: #2196F3;
  }

.auth-nav {
  color: rgba(255, 255, 255, 0.6);
}
.auth-nav:hover,
.auth-nav:focus {
  color: #2196F3;
  }

.item-nav {
  color: #212121;
  background: #F5F4FA;
  border-radius: 4px;
}

.item-nav:focus,
.item-nav:hover {
  color: #FFFFFF;
  background-color: #2196F3;
  border-radius: 4px;  
}
