body {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, sans-serif;
}
/* logo */

.logo.nav-link {
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.accent {
  color: #212121;
}

.list {
  list-style: none;
}

/* цвет основного массива текста #212121 */
/* вторичный текст #757575 */
/* синий цвет акцент  #2196F3 */
/* белый #FFFFFF */
/*  rgba(255, 255, 255, 0.6  */
/* background: #F5F4FA; */
/* background: #2f303a; footer */

/* nav */
.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.links {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.nav-link:hover,
.nav-link:focus {
  color: #2196f3;
}

/* section */
.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  font-family: Roboto, sans-serif;
}

.filter-button:focus,
.filter-button:hover {
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
}

.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.titles {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2f303a;
}
.texts {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
}
.nav-links:hover,
.nav-links:focus {
  color: #212121;
}

/* section-two */

.title-a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.text-a {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

/* section-three */

.title-b {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
}
/* применяется к h2, 3 и 4 секции */

/* section-four */

.title-c {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
}
.text-b {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
}

/* futer */

footer {
  background: #2f303a;
}

.accents {
  color: #ffffff;
}

.link-b {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.link-c {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
